{{ model | json }}

<form #heroForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
          class="form-control"
          id="name"
          name="name"
          [(ngModel)]="model.name"
          name="name">
  </div>
  <div class="form-group">
    <label for="alter-ego">Alter Ego</label>
    <input type="text"
          class="form-control"
          id="alter-ego"
          name="alter-ego"
          [(ngModel)]="model.alterEgo">
    <label for="power">Hero Power</label>
  </div>
  <div class="form-group">
    <select class="form-control"
            id="power"
            required
            name="power"
            [(ngModel)]="model.power">
      <option *ngFor="let pow of powers"
              [value]="pow">
        {{pow}}
      </option>
    </select>
  </div>
</form>
