<app-my-nav>
  <mat-slide-toggle [(ngModel)]="showAddressForm">Show Address Form</mat-slide-toggle>
  <!-- mat-button is an attribute instead of a component -->
  <button mat-raised-button (click)="toggleTable()">Table</button>
  <app-my-address-form *ngIf="!showTable && showAddressForm"></app-my-address-form>
  <app-my-dashboard *ngIf="!showTable && !showAddressForm"></app-my-dashboard>
  <app-my-table *ngIf="showTable"></app-my-table>
  <app-my-tree *ngIf="showTable"></app-my-tree>
</app-my-nav>
