<h1>Angular Router App</h1>
<nav>
  <ul>
    <!-- Using routerLink for this kind of dynamic link has strange behavior. -->
    <!-- Instead you can use the Router service to navigate on the TS side. -->
    <!-- The style doesn't look quite right anymore - you'd have to manually fix it. -->
    <li><a class="link" (click)="navigateToFirst(id.value)" [class.active]="isActive()"
                                                            [attr.aria-current]="isCurrent()">
      First Component
    </a><input type="text" #id></li>
    <!-- Links can be absolute from the root with /. -->
    <!-- But they can also be relative with ../ or ./ -->
    <li><a routerLink="../second-component"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
      Second Component
    </a></li>
    <li><a routerLink="../third-component"
           routerLinkActive="active"
           ariaCurrentWhenActive="page">
      Non-existent Component
    </a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
